@charset "UTF-8";

@media screen and (min-width: 320px) and (max-width: 600px) {

@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Cinzel+Decorative:wght@400;700;900&family=Creepster&family=Nosifer&family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Cinzel+Decorative:wght@400;700;900&family=Creepster&family=Nosifer&family=Passion+One:wght@400;700;900&family=Radley:ital@0;1&family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Cinzel+Decorative:wght@400;700;900&family=Creepster&family=Croissant+One&family=Nosifer&family=Passion+One:wght@400;700;900&family=Radley:ital@0;1&family=Sriracha&display=swap');

body{
    overflow-x: hidden;
    background-color: aliceblue;
}

header{
    width: 100%;
    height: 13vh;
    position: relative;
}

#menu{
    position: absolute;
    margin: 28px 30px;
    cursor: pointer; /*Transformar o curso em uma mão assim que passar o mouse por cima*/
}

header > img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-top: 6px;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-items: end;
    right: 5%;
}

#homelinks{
    display: none;
}

li{
    font-size: 25px;
    margin-top: 10px;
}

ul{
    position: absolute;
    background-color: #e1c06e;
    width: 190px;
    margin-left: -8px;
    list-style: none;
    font-weight: 500;
    padding: 10px 10px 22px 25px;
    margin-top: 80px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#lihome{
    position: absolute;
    top: 18%;
}

li:hover{
    color: white;
    font-weight: 700;
}

.link{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: black;
    font-size: 22px;
}

main{
    margin: 28px -8px 20px -8px;
    overflow-x: hidden;
    overflow-y: hidden;
}

#section1{
    background-image: url(../imagens/fundo01.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 110vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#section1 > h1{
    font-size: 3em;
    font-family: "Cinzel Decorative", serif;
    font-weight: bolder;
    font-style: normal;
    color: #E1C06E;
    text-shadow: 3px 3px 3px black;
    margin-top: -60px;
}

#section1 > h2{
    font-size: 1.2em;
    font-family: "Radley", serif;
    font-weight: 400;
    font-style: italic;
    color: white;
    text-shadow: 3px 3px 3px black;
    margin-top: -45px;
}

#section2{
    background-image: url(../imagens/fundo02.jpg);    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 90vh;
    margin-top: -50px;
}

#section2 > #conhecendo{
    width: 250px;
    display: block;
    margin: auto;
}

#section2 > #conhecendo > h1{
    font-size: 2.7em;
    font-family: "Croissant One", serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 50px;
}

#section2 > #conhecendo > h2{
    font-family: "Radley", serif;
    font-weight: bold;
    font-size: 18.1px;
    margin-top: -18px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: justify;
}

#section2 > div > p{
    font-family: "Radley", serif;
    font-size: 18.1px;
    font-weight: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: justify;
}

#comida{
    width: 190px;
    display: block;
    margin: auto;
}

#section3{
    background-image: url(../imagens/pessoascomendo.jpg);    
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    margin-top: -50px;
}

#cardapio{
    background-color: #808080ad;
    display: block;
    margin: auto;
    width: 340px;
    height: 100vh;
}

#section3 > div > h1{
    font-size: 1.9em;
    font-family: "Radley", serif;
    text-align: center;
    padding-top: 30px;
    color: aliceblue;
    text-shadow: 2px 2px 2px black;
}

#cardapios{
    margin-top: 35px;
}

#cardapios > div > img{
    width: 130px;
    height: 90px;
    border-radius: 50%;
    box-shadow: 3px 3px 2px #000000;
    margin-left: 20px;
    margin-bottom: 20px;
}

#cardapios > div > p{
    font-family: "Radley", serif;
    font-size: 15px;
    text-align: center;
    position: absolute;
    margin-top: -80px;
    margin-left: 170px;
    color: aliceblue;
    text-shadow: 3px 3px 4px #000000;
    font-weight: 700;
}

footer{
    background-color: black;
    width: 100vw;
    height: 100vh;
    margin-bottom: -10px;
    margin-left: -8px;
    padding: 20px 30px;
}

footer > h2{
    color: white;
    font-size: 22px;
    font-weight: 900;
}

footer > h3{
    color: #f0f8ffd2;
    font-size: 15px;
    font-weight: 600;
}

footer > p{
    color: #f0f8ffd2;
    font-size: 14px;
}

#underline{
    text-decoration: underline;
}

#funcionamento > h2{
    color: white;
    font-size: 22px;
}

#funcionamento > p{
    color: #f0f8ffd2;
    font-size: 14px;
}

footer > #redessociais > a > img{
    width: 55px;
    border-radius: 50%;
    margin-right: 20px;
}
}