@charset "UTF-8";

@media screen and (min-width: 320px) and (max-width: 600px) {

@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Cinzel+Decorative:wght@400;700;900&family=Creepster&family=Nosifer&family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Cinzel+Decorative:wght@400;700;900&family=Creepster&family=Nosifer&family=Passion+One:wght@400;700;900&family=Radley:ital@0;1&family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Cinzel+Decorative:wght@400;700;900&family=Creepster&family=Croissant+One&family=Nosifer&family=Passion+One:wght@400;700;900&family=Radley:ital@0;1&family=Sriracha&display=swap');

body{
    overflow-x: hidden;
    background-color: aliceblue;
}

header{
    width: 100%;
    height: 13vh;
}

#menu{
    position: absolute;
    margin: 28px 30px;
    cursor: pointer; /*Transformar o curso em uma mão assim que passar o mouse por cima*/
}

header > img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-top: 6px;
    position: fixed;
    left: 75%;
}

#homelinks{
    display: none;
}

li{
    font-size: 25px;
    margin-top: 10px;
}

ul{
    position: absolute;
    background-color: #e1c06e;
    width: 220px;
    margin-left: -8px;
    list-style: none;
    font-weight: 500;
    padding: 10px 10px 22px 25px;
    margin-top: 80px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#lihome{
    position: absolute;
    top: 18%;
}

li:hover{
    color: white;
    font-weight: 700;
}

.link{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: black;
    font-size: 22px;
}

main{
    margin: 28px -8px 20px -8px;
    overflow-x: hidden;
    overflow-y: hidden;
}

#section1{
    background-image: url(../imagens/fundo01.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 110vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#section1 > h1{
    font-size: 4.8em;
    font-family: "Cinzel Decorative", serif;
    font-weight: bolder;
    font-style: normal;
    color: #E1C06E;
    text-shadow: 3px 3px 3px black;
    margin-top: -60px;
}

#section1 > h2{
    font-size: 1.8em;
    font-family: "Radley", serif;
    font-weight: 400;
    font-style: italic;
    color: white;
    text-shadow: 3px 3px 3px black;
    margin-top: -70px;
}

#conhecendo{
    padding-left: 30px;
}

#section2 > #conhecendo > h1{
    font-size: 2em;
    font-family: "Croissant One", serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    padding-top: 100px;
}

#section2 > #conhecendo > h2{
    font-family: "Radley", serif;
    font-weight: bold;
    font-size: 16.5px;
    margin-top: -25px;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
}

#section2 > div > p{
    font-family: "Radley", serif;
    font-size: 16.5px;
    font-weight: normal;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
}

#section2 > div{
    background-image: url(imagens/fundo02.jpg);
    background-attachment: fixed;
    background-position: center bottom;
    background-size: cover;
    width: 100%;
    height: 130vh;
    margin-top: -80px;
}

#pessoascomendo{
    width: 230px;
    height: 350px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #000000c0;
    position: absolute;
    display: block;
    left: 50%;
    margin-top: -215px;
}

#comida{
    display: none;
    width: 190px;
    margin-top: -100px;
    
}

#cardapio > h1{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, 1800%);
    font-size: 2.8em;
    font-family: "Radley", serif;
    word-wrap: nowrap;
    white-space: nowrap;
}

img#baiana{
    width: 160px;
    height: 130px;
    border-radius: 50%;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.534);
}

#paragbaiana{
    font-family: "Radley", serif;
    margin-left: 15px;
}

#divbaiana{
    margin-left: 30px;
    position: absolute;
    top: 225%;
}

img#feijoada{
    width: 160px;
    height: 130px;
    border-radius: 50%;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.534);
}

#paragfeijoada{
    font-family: "Radley", serif;
    margin-left: 40px;
}

#divfeijoada{
    position: absolute;
    display: block;
    left: 35%;
    top: 257%;
}

img#frango{
    width: 160px;
    height: 130px;
    border-radius: 50%;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.534);
}

#paragfrango{
    font-family: "Radley", serif;
}

#divfrango{
    position: absolute;
    display: block;
    left: 65%;
    top: 225%;
}

footer{
    background-color: black;
    width: 100vw;
    height: 43vh;
    margin-bottom: -10px;
    margin-left: -8px;
    padding: 20px 30px;
}

footer > h2{
    color: white;
    font-size: 22px;
    font-weight: 900;
}

footer > h3{
    color: #f0f8ffd2;
    font-size: 15px;
    font-weight: 600;
}

footer > p{
    color: #f0f8ffd2;
    font-size: 14px;
}

#underline{
    text-decoration: underline;
}

#funcionamento > h2{
    color: white;
    font-size: 22px;
}

#funcionamento > p{
    color: aliceblue;
}

#funcionamento{
    position: absolute;
    display: block;
    top: 373%;
    left: 54%;
}

#wpp{
    width: 55px;
    border-radius: 50%;
    position: absolute;
    left: 59%;
    top: 400%;
}

#instagram{
    width: 55px;
    border-radius: 50%;
    position: absolute;
    left: 73%;
    top: 400%;
}
}